$primary: #1d1df0
$secondary: #f78286
$accent: #f3aa4d

$dark: #1D1D1D

$positive: #21BA45
$negative: #C10015
$info: #31CCEC
$warning: #F2C037

$h1: (size: 3rem, line-height: 5rem, letter-spacing: -.01562em, weight: 500) !default
$h2: (size: 3.75rem, line-height: 3.75rem, letter-spacing: -.00833em, weight: 300) !default
$h3: (size: 2rem, line-height: 1.5rem, letter-spacing: normal, weight: 400) !default
