<p>{{ i18n.t("mails.account_confirmation.text_1", {name}) }}</p>

<p>{{ i18n.t("mails.account_confirmation.text_2") }}</p>

<p>
  <a href="{{ url }}">{{ i18n.t("mails.account_confirmation.actions.confirm") }}</a>
</p>

<p>{{ i18n.t('mails.common.bad_receiver') }}</p>

<small>
  <a href="{{unsubLink}}">{{ i18n.t('mails.common.actions.unsubscribe') }}</a>
</small>

